<form (ngSubmit)="onSubmit()" [formGroup]="advertisementForm" *ngIf="!invalidData; else error">
    <div class="row" style="max-width: 500px;">
        <div class="col">
            <div class="mb-3">
                <label for="title" class="form-label">Nazwa</label>
                <input type="text" class="form-control" id="title" formControlName="title">
                <span *ngIf="advertisementForm.get('title').invalid && advertisementForm.get('title').touched"
                    class="text-danger">Nazwa jest wymagana</span>
            </div>
            <div class="mb-3">
                <label for="companyName" class="form-label">Nazwa firmy</label>
                <input type="text" class="form-control" id="companyName" formControlName="companyName">
                <span
                    *ngIf="advertisementForm.get('companyName').invalid && advertisementForm.get('companyName').touched"
                    class="text-danger">Nazwa firmy jest wymagana</span>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Opis</label>
                <textarea type="text" class="form-control" id="description" rows="5"
                    formControlName="description"></textarea>
            </div>
            <div class="col mb-3">
                <div class="row" formArrayName="skills" *ngIf="skills.length > 0">
                    <label class="form-label">Umiejętności</label>
                    <div class="form-group" *ngFor="let skill of skillsControls; let i = index"
                        style="margin-bottom: 5px;">
                        <div class="row">
                            <div class="col-10">
                                <select class="form-control" [formControlName]="i">
                                    <option *ngFor="let skill of skills" [value]="skill.id">{{ skill.name }}</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-danger" (click)="onDeleteSkil(i)">Usuń</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary" (click)="onNewSkill()">Dodaj
                                    umiejętność</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">URL</label>
                <input type="text" class="form-control" id="url" formControlName="url">
                <span *ngIf="advertisementForm.get('url').invalid && advertisementForm.get('url').touched"
                    class="text-danger">URL jest wymagany</span>
            </div>
            <div class="mb-3">
            </div>
            <div class="row align-items-center">
                <div class="col-4 mb-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="applied" formControlName="applied">
                        <label class="form-check-label" for="applied">Aplikowano</label>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col mb-3">
                    <input type="date" class="form-control" formControlName="appliedDate"
                        [required]="advertisementForm.get('applied').value === true">
                        <span
                        *ngIf="advertisementForm.get('applied').value === true && advertisementForm.get('appliedDate').invalid"
                        class="text-danger">Data aplikacji jest wymagana</span>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 mb-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="replied" formControlName="replied">
                        <label class="form-check-label" for="replied">Odpowiedź</label>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col mb-3">
                    <input type="date" class="form-control" formControlName="repliedDate"
                        [required]="advertisementForm.get('replied').value === true">
                        <span
                        *ngIf="advertisementForm.get('replied').value === true && advertisementForm.get('repliedDate').invalid"
                        class="text-danger">Data odpowiedzi jest wymagana</span>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rejected" formControlName="rejected">
                    <label class="form-check-label" for="rejected">Odrzucono</label>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button [disabled]="!advertisementForm.valid" type="submit" class="btn btn-primary"
                        style="margin-right: 5px;">{{editMode ? 'Zapisz' :
                        'Dodaj'}}</button>
                    <button type="button" *ngIf="editMode" class="btn btn-danger" (click)="onDelete()">Usuń</button>
                </div>
            </div>
        </div>
    </div>
</form>
<ng-template #error>
    <app-advertisement-error></app-advertisement-error>
</ng-template>