<form (ngSubmit)="onSubmit()" [formGroup]="advertisementForm">
    <div class="row" style="max-width: 500px;">
        <div class="col">
            <div class="mb-3">
                <label for="title" class="form-label">Nazwa</label>
                <input type="email" class="form-control" id="title" formControlName="title">
            </div>
            <div class="mb-3">
                <label for="companyName" class="form-label">Nazwa firmy</label>
                <input type="email" class="form-control" id="companyName" formControlName="companyName">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Opis</label>
                <textarea type="text" class="form-control" id="description" rows="5"
                    formControlName="description"></textarea>
            </div>
            <div class="col mb-3">
                <div class="row" formArrayName="skills">
                    <label class="form-label">Umiejętności</label>
                    <div class="form-group" *ngFor="let skill of skillsControls; let i = index"
                        style="margin-bottom: 5px;">
                        <div class="row">
                            <div class="col-10">
                                <input class="form-control" type="text" [formControlName]="i">
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-danger" (click)="onDeleteSkil(i)">Usuń</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary" (click)="onNewSkill()">Dodaj umiejętność</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">URL</label>
                <input type="text" class="form-control" id="url" formControlName="url">
            </div>
            <div class="mb-3">
            </div>
            <div class="row align-items-center">
                <div class="col-4 mb-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="applied" formControlName="applied">
                        <label class="form-check-label" for="applied">Aplikowano</label>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col mb-3">
                    <input type="date" class="form-control" formControlName="appliedDate">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rejected" formControlName="rejected">
                    <label class="form-check-label" for="rejected">Odrzucono</label>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary" style="margin-right: 5px;">{{editMode ? 'Zapisz' :
                        'Dodaj'}}</button>
                    <button type="button" *ngIf="editMode" class="btn btn-danger" (click)="onDelete()">Usuń</button>
                </div>
            </div>
        </div>
    </div>
</form>