<div class="card" style="width: 20rem;">
    <div class="card-header fs-3 fw-bold">
        Ogłoszenia
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col-7 fs-4">Wszystkie</div>
                <div class="col-auto fs-4 fw-bolder">{{statistics.count}}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-7 fs-4">Aplikowano</div>
                <div class="col-auto fs-4 fw-bolder">{{statistics.appliedCount}}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-7 fs-4">Odpowiedź</div>
                <div class="col-auto fs-4 fw-bolder">{{statistics.repliedCount}}</div>
            </div>
        </li> 
        <li class="list-group-item">
            <div class="row">
                <div class="col-7 fs-4">Odrzucone</div>
                <div class="col-auto fs-4 fw-bolder">{{statistics.rejectedCount}}</div>
            </div>
        </li>
    </ul>
</div>