<div class="card text-center" *ngIf="!invalidData; else noAdvertisement">
    <div class="card-header">
        {{ advertisement.title }}
    </div>
    <div class="card-header">
        <span class="badge text-bg-info me-1" *ngIf="advertisement.applied">Aplikowano {{advertisement.appliedDate | date:'dd-MM-YYY'}}</span>
        <span class="badge text-bg-danger me-1" *ngIf="advertisement.rejected">Odrzucono</span>
    </div>
    <div class="card-body">
        <p class="card-text">{{ advertisement.description }}</p>
        <h5 class="card-title">Umiejętności</h5>
        <ul class="list-group" *ngIf="advertisement.skills && advertisement.skills.length > 0">
            <li class="list-group-item" *ngFor="let skillId of advertisement.skills">{{ skillId | skillName:skills }}
            </li>
        </ul>
    </div>
    <div class="card-footer text-body-secondary">
        <button class="btn btn-success" [disabled]="advertisement.applied" style="margin-right: 5px;"
            (click)="onApply()">Aplikuj</button>
        <button class="btn btn-primary" style="margin-right: 5px;" (click)="onOpen()">Otwórz</button>
        <button class="btn btn-warning" (click)="onEdit()">Edytuj</button>
    </div>
</div>
<ng-template #noAdvertisement>
    <app-advertisement-error></app-advertisement-error>
</ng-template>