<ul class="list-group list-group-horizontal-sm mb-1" routerLink="/advertisements/{{advertisement.id}}" routerLinkActive="list-group-item-secondary" style="cursor: pointer;">
    <li class="list-group-item flex-fill">{{advertisement.title}}</li>
    <li class="list-group-item">{{advertisement.companyName | truncate:35}}</li>
    <li class="list-group-item" style="width: 110px;">
        <span class="badge text-bg-info me-1" *ngIf="advertisement.applied">{{advertisement.appliedDate | date:'dd-MM-YYY'}}</span>
        <span class="badge text-bg-warning me-1" *ngIf="advertisement.replied">{{advertisement.replyDate | date:'dd-MM-YYY'}}</span>
        <span class="badge text-bg-danger me-1" *ngIf="advertisement.rejected">Odrzucono</span>
    </li>
</ul>