<div class="card mb-3" routerLink="/advertisements/{{advertisement.id}}" routerLinkActive="border-secondary"
    style="cursor: pointer;">
    <div class="card-header" routerLinkActive="text-bg-secondary">{{advertisement.title}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">{{advertisement.companyName | truncate:30}}</div>
            <div class="col text-end">
                <span class="badge text-bg-info me-1" *ngIf="advertisement.applied">Aplikowano
                    {{advertisement.appliedDate | date:'dd-MM-YYY'}}</span>
                <span class="badge text-bg-danger me-1" *ngIf="advertisement.rejected">Odrzucono</span>
            </div>
        </div>
    </div>
</div>